name: Build & Release

on:
  push:
    tags:
      - 'v*' # Push events matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    name: Build & Release
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            CMD_BUILD: pyinstaller -i icons/BindControl.ico --noconsole --noconfirm --clean --add-data icons:icons --add-data Help:Help --add-data version.txt:. --exclude-module _bz2 --exclude-module _ctypes --exclude-module _decimal --exclude-module _hashlib --exclude-module _lzma --exclude-module _socket --exclude-module _ssl BindControl.py
            CMD_VERIFY: dir dist/BindControl
            FILE_NAME: BindControl-${{ github.ref_name }}_windows.zip
# Uncomment the following lines to enable Linux builds
#          - os: ubuntu-latest
#            CMD_BUILD: pyinstaller -i icons/BindControl.ico --noconsole --noconfirm --clean --add-data icons:icons --add-data Help:Help --add-data version.txt:. --exclude-module _bz2 --exclude-module _ctypes --exclude-module _decimal --exclude-module _hashlib --exclude-module _lzma --exclude-module _socket --exclude-module _ssl BindControl.py
#            CMD_VERIFY: ls -la dist/BindControl
#            FILE_NAME: BindControl-${{ github.ref_name }}_linux.zip

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Cache pip dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Tools & Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04 wxPython --user
          pip install pyinstaller -r requirements.txt

      - name: Create Executable
        run: |
          echo "${{ github.ref_name }}" > version.txt
          ${{ matrix.CMD_BUILD }}

      - name: Create Zip Archive
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          directory: './dist'
          filename: '${{ matrix.FILE_NAME }}'

      - name: Verify Files
        run: |
          ${{ matrix.CMD_VERIFY }}

      - name: Get latest commit message
        shell: bash
        run: |
          commitMessage=$(git log -1 --pretty=format:%B)
          echo "COMMIT_MESSAGE=$commitMessage" >> $GITHUB_ENV

      - name: Upload Release Asset
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/${{ matrix.FILE_NAME }}
          asset_name: ${{ matrix.FILE_NAME }}
          tag: ${{ github.ref }}
          overwrite: true
          release_name: "BindControl ${{ github.ref_name }}"
          body: "${{ env.COMMIT_MESSAGE }}"